<p class="task__chapter">Due:</p>
<ul class="task__list">
<li>Notched Collar Jacket Check-in</li>
<li>Come to class with the following for review:</li>
<ul>
<li>Final jacket patterns (drafted face-up one way with all necessary notation)</li>
<li>Students will come to class with their jacket fabrics (muslin or fashion fabric, interfacing, lining)</li>
</ul>
</ul>
<p class="task__chapter">Before Class:</p>
<ul>
<li class="task__list">Bring the following materials to class:</li>
<ul>
<li>Laptop or Tablet</li>
<li>Sewing Supplies</li>
<li>Alphanumeric Pattern Paper</li>
<li>Desired fashion fabric(s)</li>
<li>Fusible weft interfacing</li>
<li>Fashion French curve/Armsyce ruler</li>
<li>Fashion Hip Curve ruler</li>
</ul>
</ul>
<p class="task__chapter">During Class:</p>
<ul class="task__list">
<li>Complete construction of the jacket shell and begin construction of the facings and linings.
</li>
</ul>
<p class="task__chapter">After Class:</p>
<ul class="task__list">
<li>Continue construction of the jacket facings and linings.</li>
</ul>
